requests~=2.32.5
beautifulsoup4~=4.14.3
aiohttp~=3.13.3
fake-useragent
langdetect~=1.0.9

fastapi~=0.128.0
uvicorn~=0.40.0
sqlalchemy~=2.0.45
psycopg2
pydantic~=2.12.5

pandas~=3.0.0
openpyxl~=3.1.5

sentence-transformers
strsimpy~=0.2.1
scikit-learn~=1.8.0
python-dotenv~=1.2.2
joblib~=1.5.3
google-genai
transliterate~=1.10.2

easyocr~=1.7.2
pillow 
openai~=2.26.0
torch
dadata~=25.10.0
matplotlib